<% layout("boilerplate") %>
    <h1 class="mb-3">An error has occured!</h1>
    <div class="alert alert-danger">
        <%= err.message %>
    </div>
    <a href="/bookings" class="btn btn-primary">Return to all bookings</a>