<% layout("boilerplate") %>
    <form action="/bookings" method="POST" class="mb-3 needs-validation" novalidate>
        <div>
            <label for="room" class="form-label">Room:</label>
            <select name="room" id="room" class="form-select" required>
                <option value="B101" selected>B101</option>
                <option value="B102">B102</option>
            </select>
        </div>
        <div>
            <label for="teacher" class="form-label">Teacher:</label>
            <input type="text" name="teacher" id="teacher" class="form-control" required>
            <div class="invalid-feedback">
                Please enter the teacher's name.
            </div>
        </div>
        <div>
            <label for="date" class="form-label">Date:</label>
            <input type="datetime-local" name="date" id="date" class="form-control" required>
            <div class="invalid-feedback">
                Please choose a date for the booking.
            </div>
        </div>
        <div>
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" id="password" class="form-control" required>
            <div class="invalid-feedback">
                Please enter the password.
            </div>
        </div>
        <button class="btn btn-primary mt-3">Create Booking</button>
    </form>

    <a href="/bookings" class="btn btn-secondary">Return to Bookings</a>