<% layout("boilerplate") %>
    <h1>View booking</h1>
    <h2>
        <%= booking.teacher %>
    </h2>
    <p>
        <%= booking.room %>
    </p>
    <p>
        <%= booking.date %>
    </p>

    <form action="/bookings/<%= booking._id %>?_method=DELETE" method="POST" class="mb-3">
        <div class="row">
            <label for="password" class="col-form-label col-sm-2">Password:</label>
            <div class="col-sm-5">
                <input type="password" name="password" id="password" class="form-control col-sm-4">
            </div>
            <div class="col-sm-5">
                <button class="btn btn-danger" class="form-control col-sm-4">Delete</button>
            </div>
        </div>
    </form>

    <a href="/bookings" class="btn btn-primary">All bookings</a>