<% layout("boilerplate") %>
    <h1>View booking</h1>
    <h2>
        <%= booking.teacher %>
    </h2>
    <p>
        <%= booking.room %>
    </p>
    <p>
        <%= booking.date %>
    </p>

    <a href="/bookings" class="btn btn-primary">All bookings</a>